# Configuración por defecto para crear contenedores LXC

# Red base para los contenedores
NETWORK="10.10.0"
NETMASK="/24"
GATEWAY="10.10.0.1"

# Clave SSH opcional
SSH_PUBLIC_KEY="/root/id_ed25519.pub"

# Recursos del LXC
STORAGE="local-lvm"
ROOTFS_SIZE="2"
CORES="1"
MEMORY="512"
SWAP="512"

# Backup en MountPoint usando Rsync
BACKUP_RSYNC="N"
